body, html {
    margin: 0px;
  }
  
  body {
    background: rgb(220, 98, 71);
    margin: auto;
    width: 100%;
  }
  
  form {
    margin: auto;
    margin-top: 5%;
    margin-bottom: 70px;
    width: 75%;
    max-width: 600px;
    background: rgb(73, 58, 58);
    padding: 30px 60px;
    border-radius: 30px;
  }
  
  fieldset {
    border-radius: 20px;
    padding: 20px;
    margin: 15px 0;
    border-color: rgb(181, 164, 164);
  }
  
  hr:first-of-type {
    width: 77%;
    height: 2px;
    margin: auto;
    background: rgb(181, 164, 164);
    border: none;
    border-radius: 20000px;
  }
  
  legend {
    font-family: ubuntu;
    font-style: bold;
    color: rgb(181, 164, 164)
  }
  
  h1, p {
    text-align: center;
    font-family: ubuntu;
    font-style: bold;
    margin-top: 30px;
    margin-bottom: 7px;
  }
  
  p {
    margin: 0 15%;
    margin-bottom: 30px;
  }
  
  label {
    display: block;
    font-family: ubuntu;
    color: rgb(237, 212, 208);
  }
  
  input[type="text"], input[type="email"], input[type="number"] {
    font-family: ubuntu;
    width: 100%;
    margin-top: 7px;
    margin-bottom: 12px;
    padding: 3px 10px;
    border-radius: 20px;
    border: none;
  }
  
  input[type="checkbox"] {
    margin-left: 30px;
  }
  
  input[type="submit"] {
    height: 30px;
    width: 80px;
    display: block;
    border: solid;
    border-color: rgb(184, 166, 166);
    border-radius: 20px;
    margin: auto;
    font-family: ubuntu;
    font-style: bold;
  }
  
  select {
    font-family: ubuntu;
    border-radius: 10px;
    padding: 2px 4px;
  }
  
  .problem-level {
    color: rgb(243, 233, 231);
    margin: 5px 0;
    margin-left: 30px;
  }
  
  .problem-type-label:first-of-type {
    margin-top: unset;
  }
  
  .problem-type-label {
     margin-top: 9px;
   }
  
  .checkbox-label {
    color: rgb(243, 233, 231);
    margin: 5px 0;
    margin-left: 6.5px;
  }
  
  textarea {
    font-family: ubuntu;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 14px;
  }
  
  